{% extends "base.html" %}
{% block content%}
    <h1>Detalle del Departamento</h1>
    <p><strong>Nombre:</strong> {{ departamento.nombre }}</p>
    <p><strong>País:</strong> {{ departamento.pais }}</p>
    {% if perms.catalogo.change_departamento %}
    <a href="{% url 'actualizardepto' departamento.pk %}">Editar Departamento</a>
   {%endif%}
    {% if perms.catalogo.delete_departamento %}
    <a href="{% url 'eliminardepto' departamento.pk %}">Eliminar Departamento</a>
  {%endif%}
{% endblock %}