{% extends "base.html" %}
{% block content%}
    <h1>Detalle del Pais</h1>
    <p><strong>Nombre:</strong> {{ pais.nombre }}</p>
    {% if perms.catalogo.change_pais%}
    <a href="{% url 'actualizarpais' pais.pk %}">Editar Pais</a>
   {%endif%}
    {% if perms.catalogo.delete_pais%}
    <a href="{% url 'eliminarpais' pais.pk %}">Eliminar Pais</a>
  {%endif%}
{% endblock %}