{% extends "base.html" %} {% block title%}
<title>Lista de Paises</title>
{% endblock %} {% block content%}

<form method="get" action="{% url 'listapais' %}">
  <input type="text" name="pais" value="{{ query }}" placeholder="Buscar país...">
  <input type="submit" value="Buscar">
</form>

<h1>Lista de Paises</h1>
<ul>
  {% for pais in paises %}

  <li>
    {% if perms.home.view_pais %}
    <a href="{% url 'detallepais' pais.pk %}">{{ pais.nombre }}</a>
    {% else %}
    <a>{{ pais.nombre }}</a>
    {% endif %}
  </li>
  
  {% endfor %}
</ul>
{% if perms.home.add_pais %}
<a href="{% url 'crearpais' %}">Crear Pais</a>
{%endif%}

{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if paises.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?pais={{ query }}&page={{ paises.previous_page_number }}">«</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">«</a>
      </li>
    {% endif %}
    {% for i in paginator.page_range %}
      <li class="page-item {% if paises.number == i %}active{% endif %}">
        <a class="page-link" href="?pais={{ query }}&page={{ i }}">{{ i }}</a>
      </li>
    {% endfor %}
    {% if paises.has_next %}
      <li class="page-item">
        <a class="page-link" href="?pais={{ query }}&page={{ paises.next_page_number }}">»</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">»</a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %} {% endblock %}
