{% extends "base.html" %}
{% block content%}
    <h1>¿Estás seguro de que deseas eliminar este Municipio?</h1>
    <p><strong>Nombre:</strong> {{ municipio.nombre }}</p>
    <p><strong>Departamento:</strong> {{ municipio.departamento }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Sí, Eliminar</button>
    </form>
    <a href="{% url 'detallemuni' municipio.pk %}">Cancelar</a>
{% endblock %}
