{% extends "base.html" %} {% block title%}
<title>Lista de Municipios</title>
{% endblock %} {% block content%}

<form method="get" action="{% url 'listamuni' %}">
  <input
    type="text"
    name="municipio"
    value="{{ query }}"
    placeholder="Buscar país..."
  />
  <input type="submit" value="Buscar" />
</form>



<h1>Lista de Municipios</h1>
<ul>
  <li>
    {% for municipio in municipios %} 
    {% if perms.home.view_municipio %}
    <a href="{% url 'detallemuni' municipio.pk %}">{{ municipio.nombre }}</a>
    {%else%} 
      <a>{{ municipio.nombre }}</a>
    {%endif%}
  </li>
  {% endfor %}
</ul>
{% if perms.home.add_municipio%}
<a href="{% url 'crearmuni' %}">Crear Municipio</a>
  {%endif%}

{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if paises.has_previous %}
    <li class="page-item">
      <a
        class="page-link"
        href="?pais={{ query }}&page={{ paises.previous_page_number }}"
        >«</a
      >
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">«</a>
    </li>
    {% endif %} {% for i in paginator.page_range %}
    <li class="page-item {% if paises.number == i %}active{% endif %}">
      <a class="page-link" href="?pais={{ query }}&page={{ i }}">{{ i }}</a>
    </li>
    {% endfor %} {% if paises.has_next %}
    <li class="page-item">
      <a
        class="page-link"
        href="?pais={{ query }}&page={{ paises.next_page_number }}"
        >»</a
      >
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">»</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %} {% endblock %}
